@media screen and (max-width: 600px) {
    .main-section{
        padding: 4%;
        font-size: 1.5em;
    }
    .products {
        display: inherit;
        padding: 4%;
    }
    .product {
        margin-top: auto;
        width: 60%;
        margin: 0 auto;
        
        
    }
    .content {
        height: auto;
        
    }
    .description, .mentions-content {
        display: inherit;
    }
    
    .description-box, .mention-box {
        margin: 0 auto  ;
    }
}
